<!DOCTYPE HTML>
<html>
<head>
<title>Battleship</title>
<link rel="stylesheet" type="text/css" href="/static/battleship.css" />
<script type="text/javascript" src="/static/jquery-1.4.3.min.js"></script>
<script type="text/javascript">
var CURRENT_CLUSTERS = {};

function long_poll() {
    $.get("http://localhost:8000/battleship/room_clusters/danceroom/", 
            CURRENT_CLUSTERS,
            function (data, textStatus, xhr) {
                    console.log(data);
                    console.log(textStatus);
                    console.log(xhr);
                    data_str = data;
                    data = jQuery.parseJSON(data);
                    var steps = $(".step");
                    for(var i = 0; i < steps.length; i++) {
                        steps[i].style.visibility = "hidden";
                    }
                    
                    var clusters = data['clusters'];
                    if(clusters !== undefined) {
                        for(var k = 0; k < clusters.length; k++) {
                            cluster_json = clusters[k];
                            var sarr = cluster_json.sensors;
                            console.log(sarr);
                            for(var j = 0; j < sarr.length; j++) {
                                var sid = sarr[j].id;
                                var selector = "#" + sid + " .step";
                                console.log(selector);
                                $(selector)[0].style.visibility = "visible";                      
                            }
                        }
                    }
                    CURRENT_CLUSTERS = data_str;
                    //$("#result")[0].innerHTML = CURRENT_CLUSTERS;
                    long_poll();
                }
            );
}
</script>
</head>
<body>
<div id="toolbar">
    <div id="player1">
        <img src="/static/images/player_1.png" alt="player1"/>
    </div>
    <div id="player1_score">
        <img src="/static/images/explosion_2.png" alt="player1_hits"/>
        0
        <img src="/static/images/miss_1.png" alt="player1_hits"/>
        0
    </div>
    <div id="player2">
        <img src="/static/images/player_2.png" alt="player2"/>
    </div>
     <div id="player2_score">
        <img src="/static/images/explosion_1.png" alt="player1_hits"/>
        0
        <img src="/static/images/miss_2.png" alt="player1_hits"/>
        0
    </div>
    
    <div id="controls">
        <input type="button" value="begin" onclick="long_poll()" />
    </div>
</div>

{% for sensor in sensors %}
<div id="{{ sensor.id }}" class="sensor" style="position:absolute;top:{{ sensor.x }}px;left:{{ sensor.y }}px;height:95px;width:95px;
border: 1px solid black;"><div class="step">{{ sensor.id }}</div></div>
{% endfor %}
<div class="right">
<div id="result"></div>
</div>
</body>
</html>
