body {
    background-color: gray;
    background-image:url('images/background.png');
    background-repeat: repeat-x;
}

#toolbar {
    background-image:url('images/toolbar.png');
    background-repeat: repeat-x;
    position: absolute;
    height:164px;
    width:100%;
    top:0px;
    left:0px;
    padding:10px;
}
#player1 {
    position: absolute;
    height:156px;
    width:420px;
    top:0px;
    left:0px;
    margin:4px;
}

#player1_hitlogo {
    position: absolute;
    height:100px;
    width:100px;
    top:56px;
    left:0px;
}

#player1_score {
    position: absolute;
    height:100px;
    width:100px;
    top:56px;
    left:100px;
    margin-left:4px;
    margin-top:6px;
    text-align:right;
    color:white;
    font-size:97px;
    font-family:sans-serif;
    text-shadow: #000000 2px 2px 2px;
}

#player1_misslogo {
    position: absolute;
    height:100px;
    width:100px;
    top:56px;
    left:200px;
}

#player1_miss {
    position: absolute;
    height:100px;
    width:100px;
    top:56px;
    left:300px;
    margin-left:4px;
    margin-top:6px;
    text-align:right;
    color:white;
    font-size:97px;
    font-family:sans-serif;
    text-shadow: #000000 2px 2px 2px;
}

#player2_hitlogo {
    position: absolute;
    height:100px;
    width:100px;
    top:56px;
    left:400px;
}

#player2 {
    position: absolute;
    height:156px;
    width:420px;
    top:0px;
    left:420px;
    margin:4px;
}
#player2_score {
    position: absolute;
    height:100px;
    width:100px;
    top:56px;
    left:500px;
    margin-left:4px;
    margin-top:6px;
    text-align:right;
    color:white;
    font-size:97px;
    font-family:sans-serif;
    text-shadow: #000000 2px 2px 2px;
}
#player2_misslogo {
    position: absolute;
    height:100px;
    width:100px;
    top:56px;
    left:600px;
}
#player2_miss {
    position: absolute;
    height:100px;
    width:100px;
    top:56px;
    left:700px;
    margin-left:4px;
    margin-top:6px;
    text-align:right;
    color:white;
    font-size:97px;
    font-family:sans-serif;
    text-shadow: #000000 2px 2px 2px;
}

#controls {
    position: absolute;
    height:156px;
    width:200px;
    top:0px;
    left:840px;
}

#gamearea {

}

.step {
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 20px;
    width: 20px;
    background-color: blue;
}
