body {
    background-color: gray;
    background-image:url('images/background.png');
    background-repeat: no-repeat;
}

#toolbar {
    background-image:url('images/toolbar.png');
    background-repeat: no-repeat;
    position: absolute;
    height:164px;
    width:960px;
    top:0px;
    left:0px;
    padding:10px;
}

#gamearea {

}

.step {
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 20px;
    width: 20px;
    background-color: blue;
}
