<!DOCTYPE HTML>
<html>
<head>
<title>Battleship</title>
<link rel="stylesheet" type="text/css" href="/static/battleship.css" />
<script type="text/javascript" src="/static/jquery-1.4.3.min.js"></script>
<script type="text/javascript">
var CURRENT_CLUSTERS = {};

function long_poll() {
    $.get("http://localhost:8000/battleship/room_clusters/danceroom/", 
            CURRENT_CLUSTERS,
            function (data, textStatus, xhr) {
                    console.log(data);
                    console.log(textStatus);
                    console.log(xhr);
                    CURRENT_CLUSTERS = data;
                    $("#result")[0].innerHTML = CURRENT_CLUSTERS;
                    long_poll();
                }
            );
}
</script>
</head>
<body>
{% for sensor in room_sensors %}
<div id="{{ sensor.id }}" style="position:absolute;top:50px;left:30px;height:{{ sensor.x }}px;width:{{ sensor.y }}px;
border: 1px solid black;"></div>
{% endfor %}
<div class="right">
<input type="button" value="begin" onclick="long_poll()" />
<div id="result"></div>
</div>
</body>
</html>
